* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
.section1{
  height: 65vh;
}
  
body {
  background: #f5f5f5;
  
}


nav {
  width: 100%; 
 height: 60px;
    background-color:#0b1d3a;
    z-index: 999;
    top: 0;
    left: 0;

   
}
.logo{
  height: 60px;
  margin-left: 140px;
  float: left;
  
}

.list2{
    float:right;
    margin-right: 10px;
    line-height: 60px;
}

.list2 li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    color:white;

    font-size: 15px;
    text-transform: capitalize;

}   
.list2 li a{
    color: white;
    text-decoration: none;


}

.btn {
  background: #1dd05d;
  color: #fff;
  border: none;
  padding: 10px 18px;
  
  cursor: pointer;
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 530px;
  background: 
  url("../img/page/istockphoto-2247346798-612x612\ 1.png") center 45%/cover;
  display: flex;
  display: flex;
  align-items: flex-end;
  padding: 0 70px ;
  color: #fff;
  
  

}
.hero-content {
  max-width: 400px;
  text-align: right;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.hero-content button {
  background: #2ecc71;
  border: none;
  padding: 10px 22px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  
}





.about-section {
  
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 10px;
  justify-content: flex-end;
}

.about-text {
  text-align: right; 
  
}

.about-text h2 {
  color: #1d2b5a;
  margin-right: 140px;
  margin-bottom: 20px;
}

.about-text p {
  color: #555;
  margin-bottom: 60px;
}

.about-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

  
}

.about-images img {
  width: 400px;
  height: 100px;

  
}
.main-footer {
  width: 100%;
  height: 50px;
    background-color: #2c3e8c; 
    color: white;
    display: flex;
    margin-top: -40px;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    direction: ltr; 
    
}

.social-icons {
    display: flex;
    gap: 15px; 
}

.social-icons a {
    color: white;
    
    text-decoration: none;
}


.fa-instagram {
  background-color: #c13584; 
  border-radius: 40px;
  font-size: 30px;

}

.fa-whatsapp { background-color: #25D366; 
  font-size: 30px;
  border-radius: 30px;
}
.fa-linkedin-in { 
  background-color:#0077B5;
  padding: 8px;
    border-radius: 50%;
    font-size: 15px;
}
 .fa-facebook-f{
  background-color:#3b5998;
  padding: 10px;
    border-radius: 50%;
    font-size: 15px;
 }
 .fa-twitter{
  background-color:#1DA1F2;
  padding: 8px;
    border-radius: 50%;
    font-size: 15px;

 }
 .fa-phone{
  font-size: 35px;
  color: #4caf50;
 }
.footer-title h2 {
    margin: 0;
    font-size: 24px;
    font-family: sans-serif;
}

.footer-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-email i {
    background-color: #4a90e2; 
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}
